<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Word Game</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>Mystery Word</h1>
    <h3>You have guesses {{countdown}} left</h3>
  </header>
  <main>



      <div id="wordContainer">
        {{#emptyArray}}
        <div id="word"><h2>{{.}}</h2></div>
        {{/emptyArray}}
      </div>

      <div class="errors">
        {{#errors}}{{msg}}{{/errors}}
      </div>


      <form class="charGuess" action="/charGuess" method="post">
        <input type="text" name="character" value="" placeholder="Guess A Single Letter">
        <button>Submit</button>
      </form>

      <div class="usedArray">
        {{#usedArray}}
          {{.}}
        {{/usedArray}}
      </div>



  </main>
</body>

</html>
