<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Winner</title>
  </head>
  <body>
    <h1>Congratulations, You won!</h1>
    <h3>{{word}}</h3>
    <form class="reset" action="/reset" method="post">
      <button name="button">Try Again</button>
    </form>
  </body>
</html>
