
body {
  margin: 0 10%;
}

header {
  display: flex;
  justify-content: space-between;
}


main {
  margin: 0 10%;
}



#wordContainer {
  display: flex;
  justify-content: center;
  margin:0 auto;
}


#word h2 {
  font-size: 2em;
  letter-spacing: 0.5em;
}

#word {
  font-size: 3em;
}
