
body {
  margin: 0 10%;
}

header {
  display: flex;
  justify-content: space-between;
}


main {
  margin: 0 10%;
}

#wordContainer {
  display: flex;
  justify-content: center;
  margin:0 auto;
}

#word h2 {
  font-size: 1.7em;
  letter-spacing: 0.2em;
}

#word {
  font-size: 3em;
}
